<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title center>Staff</ion-title>
		<button ion-button icon-only menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<h1>Staff</h1>

	<p><strong>Ed Jenewein</strong> – Lead Pastor – <a href="mailto:ejenewein@icrossroads.org">ejenewein@icrossroads.org</a></p>
	<p><strong>Clayton Coates</strong> – Grow/Small Group Pastor – <a href="mailto:ccoates@icrossroads.org">ccoates@icrossroads.org</a></p>
	<p><strong>Mike Somers</strong> – Administrative Pastor – <a href="mailto:msomers@icrossroads.org">msomers@icrossroads.org</a></p>
	<p><strong>Tyler Groenink</strong> – Student Pastor – <a href="mailto:tgroenink@icrossroads.org">tgroenink@icrossroads.org</a></p>
	<p><strong>Cori Jenewein</strong> – Ministries Director – <a href="mailto:cjenewein@icrossroads.org">cjenewein@icrossroads.org</a></p>
	<p><strong>Madeline Gulsvig</strong> – Children’s Ministry Assistant – <a href="mailto:mgulsvig@icrossroads.org">mgulsvig@icrossroads.org</a></p>
	<p><strong>Adam Giacopuzzi</strong> – Worship Leader – <a href="mailto:agiacopuzzi@icrossroads.org">agiacopuzzi@icrossroads.org</a></p>
	<p><strong>Elaine Uyematsu</strong> – Finance Administrator – <a href="mailto:euyematsu@icrossroads.org">euyematsu@icrossroads.org</a></p>
	<p><strong>Sam Reynolds</strong> – Communications Assistant – <a href="mailto:sreynolds@icrossroads.org">sreynolds@icrossroads.org</a></p>

	<h2>Elders</h2>

	<p><strong>Dennis Hardgrave</strong> – <a href="mailto:dennis.hardgrave@gmail.com">dennis.hardgrave@gmail.com</a></p>
	<p><strong>Jim Blois</strong> – <a href="mailto:jimblois@verizon.net">jimblois@verizon.net</a></p>
	<p><strong>Dave Inocente</strong> – <a href="mailto:dave-i@verizon.net">dave-i@verizon.net</a></p>
	<p><strong>Guy Fisher</strong> – <a href="mailto:gapfisher@gmail.com">gapfisher@gmail.com</a></p>
	<p><strong>Ed Jenewein</strong> – <a href="mailto:ejenewein@icrossroads.org">ejenewein@icrossroads.org</a></p>
	<p><strong>Dave Kohlmeier</strong> – <a href="mailto:kohlmeier.david0@gmail.com">kohlmeier.david0@gmail.com</a></p>
	<p><strong>Ben Jertberg</strong> – <a href="mailto:benjertberg@yahoo.com">benjertberg@yahoo.com</a></p>
	<p><strong>John Anglin&nbsp;</strong> – <a href="mailto:jhanglin@hotmail.com">jhanglin@hotmail.com</a></p>


	<!-- <div *ngFor="let department of departments">
		<h3>{{department.StaffDepartment.title}}</h3>
		<ion-card *ngFor="let staff of department.StaffLink; let i = index">
			<img src="{{rootUrl}}/img/thumb/{{staff.StaffMember.MediaImage.filename}}/width:600/height:600/crop:true/zoom:auto" />
			<ion-card-content>
				<ion-card-title>{{staff.StaffMember.first_name + ' ' + staff.StaffMember.last_name}}</ion-card-title>
				{{staff.StaffMember.title}}
				<div class="spacer" style="height:10px"></div>
				<a icon-left ion-button small outline round *ngIf="staff.StaffMember.email" href="mailto:{{staff.StaffMember.email}}">
					<ion-icon name="mail-outline"></ion-icon> Email
				</a>
			</ion-card-content>
		</ion-card>
	</div> -->
</ion-content>