<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title start><img src="assets/logo.svg" class="logo"></ion-title>
		<button ion-button icon-only menuToggle right><ion-icon name="menu"></ion-icon></button>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">
	<ion-slides autoplay="5000" loop="true" *ngIf="news && news.length">
		<ion-slide *ngFor="let article of news" (click)="viewArticle(article)">
			<img src="{{rootUrl}}/img/thumb/{{article.MediaImage.filename}}/width:1000/height:600/crop:true/zoom:auto" />
		</ion-slide>
	</ion-slides>
	<ion-toolbar color="primary">
		Community Feed
	</ion-toolbar>
	<!-- <ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher> -->
	<ion-card *ngFor="let post of posts; let i = index">
		<img *ngIf="post.CommunityPost.type!='gallery' && post.MediaImage.filename" src="{{rootUrl}}/img/thumb/{{post.MediaImage.filename}}/width:1000/height:600/crop:true/zoom:auto" />
		<div *ngIf="post.CommunityPost.type=='gallery'">
			<ion-slides autoplay="5000" loop="true" *ngIf="post.CommunityPicture && post.CommunityPicture.length">
				<ion-slide *ngFor="let picture of post.CommunityPicture">
					<img src="{{rootUrl}}/img/thumb/{{picture.MediaImage.filename}}/width:1000/height:600/crop:true/zoom:auto" />
				</ion-slide>
			</ion-slides>
		</div>
		<ion-card-content>
			<ion-card-title>{{post.CommunityPost.title}}</ion-card-title>
			<div [innerHTML]="post.CommunityPost.body"></div>
			<!-- <pre>{{post | json}}</pre> -->
		</ion-card-content>
	</ion-card>
	<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll> -->
</ion-content>