<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title center>Series</ion-title>
		<button ion-button icon-only menuToggle right><ion-icon name="menu"></ion-icon></button>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="!latest">
		<img src="assets/img/fbwf_sermon_load.jpg" />
	</div>
	<div *ngFor="let recent of latest">
		<img *ngIf="recent.MessageSeries.MediaImage.filename" src="{{rootUrl}}/img/thumb/{{recent.MessageSeries.MediaImage.filename}}/width:1000/height:600/crop:true/zoom:auto" (click)="viewSeries(recent.MessageSeries)">
		<img *ngIf="!recent.MessageSeries.MediaImage.filename" src="http://via.placeholder.com/1000x600?text=No+series+image" />
	</div>
	<ion-toolbar color="primary">
		Latest Series
	</ion-toolbar>
	<div *ngIf="!series">
		<ion-row>
			<ion-col col-6 *ngFor="let image of [0,1,2,3,4,5,6]">
				<img src="assets/img/fbwf_sermon_load.jpg" />
			</ion-col>
		</ion-row>
	</div>
	<ion-grid>
		<ion-row>
			<ion-col col-6 *ngFor="let single of series; let i = index" (click)="viewSeries(single)">
				<img *ngIf="single.MediaImage.filename" src="{{rootUrl}}/img/thumb/{{single.MediaImage.filename}}/width:1000/height:600/crop:true/zoom:auto">
				<img *ngIf="!single.MediaImage.filename" src="assets/img/fbwf_sermon_load.jpg" />
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>