// http://ionicframework.com/docs/theming/
@import "font-awesome";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// $dark: #23232B;
// $medium: #2C2C34;
// $medium-light: #42424A;
// $light: #ffffff;
// $accent: #00447c;

$dark: #323e48;
$medium: #59606d;
$medium-light: #5b6670;
$light: #ffffff;
$accent: #ae5d57;

ion-toolbar {
  color: color($colors, light);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

ion-title {
  text-transform: uppercase;
}

.icon-ios-primary {
  color: $light;
}

.toolbar-ios-primary .toolbar-background-ios,
.tabs-ios-primary .tabbar {
  //background-image: url(../assets/img/blue.jpg);
  background-color: $dark;
  border-color: $dark;
}

// ion-navbar.toolbar {
// 	height: 60px;
// }

// ion-header, ion-header ion-toolbar {
// 	height: 60px;
// }

// ion-navbar {
// 	height: 60px;
// }

ion-toolbar {
  margin-top: -5px;
}

.tab-button-text {
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
}

ion-card,
.card-ios {
  background-color: $medium-light;
  color: $light;
  .card-title-ios {
    color: $light;
  }
  p {
    color: $light;
  }
  a {
    color: $dark;
  }
  ion-button,
  .button-outline-ios {
    border-color: $light;
    color: $light;
  }
}

ion-item,
.item-ios {
  background-color: $medium-light;
}

ion-item-divider,
.item-ios-primary,
.item-divider-ios-primary {
  background-color: $medium;
}
