<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title center>Stories</ion-title>
		<button ion-button icon-only menuToggle right><ion-icon name="menu"></ion-icon></button>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="!topStory">
		<img src="assets/loading_media.png" />
	</div>
	<div *ngIf="topStory">
		<video [src]="source" [poster]="poster" controls style="width: 100%;"></video>
	</div>
	<ion-toolbar color="primary">
		Latest Series
	</ion-toolbar>
	<ion-list>
		<button ion-item *ngFor="let story of stories; let i = index" (click)="viewStory(story)">
			<div item-start>{{i+1}}</div>
			{{story.MessageMessage.title}}
		</button>
	</ion-list>
</ion-content>